* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
 	--light-gray: hsl(0, 0%, 95%);
}


body {
	display: flex;
	min-height: 100vh;
	background-color: var(--light-gray);
	font-optical-sizing: auto;
	font-style: normal;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: auto;
	margin: auto;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 40px;
}

.sedans {
	background-color: var(--bright-orange);
	border-radius: 5px 0px 0px 5px;
}

.suvs {
	background-color: var(--dark-cyan);
}

.luxury {
	background-color: var(--very-dark-cyan);
	border-radius: 0px 5px 5px 0px;
}

h3 {
	font-family: "Big Shoulders Display", sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	text-transform: uppercase;
	color: var(--light-gray);
	margin: 30px 0 20px;
}

p {
	margin: 5px 0;
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	line-height: 2;
	color: var(--transparent-white);
}

.sedans > a {
	color: var(--bright-orange);
}

.suvs > a {
	color: var(--dark-cyan);
}

.luxury > a {
	color: var(--very-dark-cyan);
}

.sedans > a:hover, .suvs > a:hover, .luxury > a:hover {
	color: var(--transparent-white);
}

a {
	border: 1px solid #fff;
	color: #fff;
	border-radius: 40px;
	padding: 15px 30px;
	margin: 10px auto;
	background-color: var(--light-gray); 
	text-decoration: none;
	font-weight: 400;
	font-family: "Lexend Deca", sans-serif;
}

a:hover {
	background-color: transparent;
	transform: scale(1.1);
}

.attribution {
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
	main {
		flex-direction: column;
		height: auto;
		width: 100vw;
		margin: 0;
	}

	.section {
		width: 100vw;
		height: auto;
		padding: 0;
	}
}
